//// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
//@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";
@import 'typeahead.scss';

html {
  font-size: 16px;
}

body {
  height: 100vh;
}

img[identicon] {
  display: none;
}

.navbar {
  margin-bottom: 25px;
  border-color: #e7e7e7;
  background-color: #fff;
  box-shadow: 0 1px 11px 2px rgba(42, 42, 42, 0.1);
  margin-top: 0;

  .avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  .button-ask {
    margin-right: 16px;
  }
}

.login-page, .register-page {
}

.users-show-page {
  .info-header {
    font-size: 1.5rem;
  }
}

.questions-index-page, .root-page, .questions-my-page {
  .question {
    padding: 8px;
    display: flex;
    > .left {
      width: 6rem;
      font-size: 0.8rem;
      text-align: center;

    }
    > .right {
      flex: 1;

      .actions {
        display: flex;
        justify-content: flex-end;
      }
    }
    .vote-count, .answer-count {
      margin-top: 4px;
      color: rgb(106, 115, 124);

      > span {
        font-size: 1.5em;
        display: block;
      }
    }
    .view-count {
      color: rgb(36, 39, 41);
      margin-top: 8px;

      > span {
        font-size: 1.3em;
      }
    }
    .title {
      font-size: 1.3rem;
    }
    .brief {
      color: rgb(59, 64, 69);
    }
    .user-info {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 5px 6px 7px 7px;
      float: right;
      width: 13rem;

      &.owner {
        background-color: rgb(224, 234, 241);
      }

      >div:nth-child(2) {
        margin-top: 4px;
        display: flex;
        align-items: center;
      }

      .user-action-time {
        font-size: 0.8rem;
        color: rgb(132, 141, 149);
      }
      .avatar {
        width: 32px;
        height: 32px;
      }
      .user-details {
        margin-left: 10px;
        font-size: 0.8rem;
      }
    }
  }
}

.questions-show-page {

  .user-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 6px 7px 7px;
    width: 13rem;

    &.owner {
      background-color: rgb(224, 234, 241);
    }

    >div:nth-child(2) {
      margin-top: 4px;
      display: flex;
      align-items: center;
    }

    .user-action-time {
      font-size: 0.8rem;
    }
    .avatar {
      width: 32px;
      height: 32px;
    }
    .user-details {
      margin-left: 10px;
      display: inline-block;
      font-size: 0.8rem;
    }
  }
  .content, .answer {
    display: flex;
    > .left {
      width: 4rem;
    }
    > .right {
      flex: 1;
    }

    &:hover .operations a {
      visibility: visible;
    }
  }
  .question {
    padding: 10px;
    .title {
      font-size: 1.5rem;
      line-height: 1.8em;
      height: 1.8em;
      padding-left: 14px;

      & + hr {
        margin-top: 14px;
      }
    }
  }

  .answer {
    padding: 0 10px;
    .vote {
      font-size: 1.6rem;
    }
    .vote-count {
      top: 0.9rem;
    }
    .up, .down {
      font-size: 2.6rem;
    }
  }

  .answer-count {
    font-size: 1.8rem;
    margin-left: 1rem;
  }

  .actions {
    display: flex;
    justify-content: space-between;

  }

  .operations {
    margin-top: 0.15rem;

    a {
      visibility: hidden;
      margin-right: 0.8rem;
      color: #848d95;
      font-size: 0.8rem;

      &:hover {
        color: #3b4045;
      }
    }

  }
}
