
//// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
//@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
  height: 100vh;
}

img[identicon] {
  display: none;
}

.navbar {
  margin-bottom: 25px;
  border-color: #e7e7e7;
  background-color: #fff;
  box-shadow: 0 1px 11px 2px rgba(42, 42, 42, 0.1);
  margin-top: 0;

  .avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
}

.login-page, .register-page {
  .container {
    margin-top: 2rem;
  }
}

.users-show-page {
  .info-header {
    font-size: 1.5rem;
  }
}