//// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
//@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";
@import 'typeahead.scss';
@import "tagsinput.css";

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  >div:first-child {
    position: relative;
  }
}

img[identicon] {
  display: none;
}

.navbar {
  margin-bottom: 25px;
  border-color: #e7e7e7;
  background-color: #fff;
  box-shadow: 0 1px 11px 2px rgba(42, 42, 42, 0.1);
  margin-top: 0;

  .avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  .button-ask {
    margin-right: 1rem;
  }

  .reputation {
    display: flex;
    align-items: center;
    margin-right: 0.7rem;
  }

  .notification {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 75%;

    .fa-bell {
      font-size: 1.1rem;
      color: #9199a1;
    }

    .badge {
      font-size: 100%;
    }
  }

  .dropdown {
    top: 4px;
  }
}

.app-content {
  padding-bottom: 60px;
}

footer.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.login-page, .register-page {
  .oauth {
    margin-top: 1rem;
    i {
      font-size: 2rem;
      color: black;
    }
  }
}

.users-show-page {
  .info-header {
    font-size: 1.5rem;
  }

  .user-profile {
    img {
      width: 200px;
      height: 200px;
    }
  }
  .view-all {
    display: block;
    margin-top: 1rem;
  }
}

.users-edit-page {
  .oauth {
    i {
      font-size: 1.3rem;
    }
  }
}

.questions-index-page, .root-page, .questions-my-page {
  .question {
    padding: 8px;
    display: flex;
    > .left {
      width: 6rem;
      font-size: 0.8rem;
      text-align: center;

    }
    > .right {
      flex: 1;

      .actions {
        display: flex;
        justify-content: space-between;
      }
    }
    .vote-count, .answer-count {
      margin-top: 4px;
      color: rgb(106, 115, 124);

      > span {
        font-size: 1.5em;
        display: block;
      }
    }
    .view-count {
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(36, 39, 41);
      margin-top: 8px;

      > span {
        font-size: 1.3em;
        margin-right: 0.3em;
      }
    }
    .title {
      font-size: 1.3rem;
    }
    .brief {
      color: rgb(59, 64, 69);
    }
  }
}

.user-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 6px 7px 7px;
  width: 13rem;

  &.owner {
    background-color: rgb(224, 234, 241);
  }

  >div:nth-child(2) {
    margin-top: 4px;
    display: flex;
    align-items: center;
  }

  .user-action-time {
    font-size: 0.8rem;
  }
  img {
    width: 32px;
    height: 32px;
  }
  .name {
    white-space: nowrap;
  }
  .user-details {
    margin-left: 10px;
    display: inline-block;
    font-size: 0.8rem;
  }
}

.questions-show-page {
  #content {
    width: 80%;
  }

  .content {
    display: flex;
    > .left {
      width: 4rem;
    }
    > .right {
      flex: 1;
    }

    &:hover .operations a {
      visibility: visible;
    }
  }
  .question {
    padding: 10px;
    .title {
      font-size: 1.5rem;
      line-height: 1.8em;
      height: 1.8em;
      padding-left: 14px;

      & + hr {
        margin-top: 14px;
      }
    }
  }

  .answer {
    padding: 0 10px;
    .vote {
      font-size: 1.6rem;
    }
    .vote-count {
      top: 0.9rem;
    }
    .up, .down {
      font-size: 2.6rem;
    }
  }

  .answer-count {
    font-size: 1.8rem;
    margin-left: 1rem;
  }

  .actions {
    display: flex;
    justify-content: space-between;

  }

  .operations {
    margin-top: 0.15rem;

    a {
      visibility: hidden;
      margin-right: 0.8rem;
      color: #848d95;
      font-size: 0.8rem;

      &:hover {
        color: #3b4045;
      }
    }
  }

  .comments {
    font-size: 0.85rem;
    margin-left: 4rem;

    .comment {
      min-height: 2rem;
    }

    hr {
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
    }

    .comment-time {
      color: #9199a1;
    }

    .comment-remove {
      cursor: pointer;
      color: #9199a1;
      font-size: 1.1em;
      margin-left: 0.5rem;
    }
  }
}

.side-bar {
  .reputation-rank {
    .card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .nav-link {
        padding: 0.25rem 0.5rem;
      }
    }

    .item-user {
      display: flex;
      height: 2rem;
      align-items: center;
      color: #999;
      margin-bottom: 0.4rem;
      >span:first-child {
        width: 1rem;
      }
      img {
        margin: 0 0.3rem;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
      }
      a {
        font-size: 0.9rem;
        flex: 1;
      }
      .reputation {
      }
    }
  }
}

.user-center {
  .profile {
    margin-top: -1.5rem;
    background-color: #f6f6f6;
    padding: 1.5rem 0;
    margin-bottom: 1rem;
    > .container {
      display: flex;
      .avatar {
        width: 250px;
        height: 250px;
      }
      img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
      }
      .summery {
        flex: 1;
        margin-left: 1rem;

        .name {
          font-weight: bold;
          font-size: 2rem;
        }
        .reputation {
          display: inline-block;
          align-items: center;
          padding: 0 0.8em;
          height: 2em;
          line-height: 2em;
          border-radius: 1em;
          border: 1px solid #5cbb5c;
          background-color: #dff0d8;
        }
      }
      .introduction {
        width: 30rem;
        background-color: #eeeeee;
      }
    }
  }


  .question-item, .answer-item {
    display: flex;
    align-items: center;
    > a {
      flex: 1;
      margin-left: 1rem;
    }
    .time {
      justify-self: flex-end;
      text-align: end;
      width: 7.6rem;
    }

    .vote-count {
      display: inline-block;
      width: 4rem;
      height: 2.2rem;
      line-height: 2.2rem;
      text-align: center;
      background-color: #fcf8e3;
      color: #9a6d3b;
    }
  }
}

.notifications-index-page {
  .answer-created {
    .avatar {
      width: 64px;
      height: 64px;
    }
  }
}